{% extends 'index.html' %}

{% block head %} 
<title>Polling-App</title>
<link rel="stylesheet" href="{{ url_for( 'static',filename='css/mainpage.css')}}">
{% endblock %}


{% block body %} 
<div id="navbar">
    <span class="navbar-element" id="app-name">
        Polling App
    </span>
    <span class="navbar-element" id="menu-icon"><a href="/login">Logout</a></span>
</div>

<div id="other-than-navbar">
    <div id="team-side" class="team">
        <h3>Teams-Members-List</h3>
        {% for member in team%}
            <div class="team">
                <p class="team-list" id="team-name">{{ member.username }}</p>
            </div>
    
        {% else %}
            <p>No members in team yet</p>
            <p>Join a team or Create one</p>
        {% endfor %}
    </div>

    <div class="team" id="create-team">
        <div class="create" id="create-icon" >
            <img src="{{ url_for('static',filename='icons/icons8-add-user-group-woman-man-60.png') }}" alt="add team">
        </div>
        <div id="add-team">
            {% if result %}
            <p> {{ result }} </p>
            {% endif %}
            <form action="/{{ user }}/{{ team.name }}/add" method="POST">
                <input type="text" name="newmember" id="text-inp" class="inpteam" placeholder="Enter the username" required minlength="3">
                <input type="text" name="role" class="inpteam" placeholder="admin or member" required minlength="5">
                <input type="submit" value="Add Member" class="inpteam" id="teamcreatebuttn">
            </form>
        </div>
    </div>
</div>

{% endblock %}